<h1>{{'GALLERY_TITLE' | translate}}</h1>

<md-button class="md-accent md-raised" ui-sref="galleryAdd">{{'GALLERY_ADD' | translate}}</md-button>

<md-divider></md-divider>
<div  class="table-list">
  <p ng-hide="galleries.length">{{'NO_GALLERIES' | translate}}</p>
  <div>
    <table class="" ng-show="galleries.length" datatable="ng" dt-options="dtOptions" dt-columns="dtColumn" dt-column-defs="dtColumnDefs" >
      <thead>
      <tr>
        <th data-field="galleryName">{{'GALLERY_NAME' | translate}}</th>
        <th data-field="actions>"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="gallery in galleries">
        <td>{{gallery.name}}</td>
        <td class="text-right">
          <a href="#" ui-sref="galleryView({id : gallery._id})"><md-icon class="fa fa-folder-open"></md-icon></a>
          <a ng-show="currentUser.profile.role._is('ADMIN')" href="#" ng-click="deleteGallery(gallery._id)"><md-icon class="fa fa-trash"></md-icon></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
