<h1>{{'GALLERY_ADD_TITLE' | translate}}</h1>

<md-button class="md-raised" ui-sref="galleries">{{'USER_FORM_BACK' | translate}}</md-button>
<div layout="row">
  <md-icon class="fa fa-picture-o"></md-icon>
  <md-input-container flex>
    <label>{{'GALLERY_NAME' | translate}}</label>
    <input type="text" ng-model="nameG"  required>
  </md-input-container>
</div>
<form name="eventForm" role="form" ng-submit="addGallery()">
  <div ngf-drop ngf-select ng-model="files" class="drop-box"
       ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
       accept="image/*">{{'DROP_IMAGES' | translate}}
  </div>
  <div ngf-no-file-drop>{{'DROP_IMAGES_ERROR' | translate}}</div>
  <p>{{'LIST_FILES' | translate}}</p>
  <p>{{log}}</p>
</form>
