<md-list>
  <md-item>
    <a ui-sref="home">
      <md-button class="side-list">
        <i class="fa fa-home"></i>
        {{'SIDEBAR_HOME' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item>
    <a ui-sref="users">
      <md-button class="side-list">
        <i class="fa fa-users"></i>
        {{'SIDEBAR_USERS' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item>
    <a ui-sref="calendar">
      <md-button class="side-list">
        <i class="fa fa-calendar"></i>
        {{'SIDEBAR_CALENDAR' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item >
    <a ui-sref="tracks">
      <md-button class="side-list">
        <i class="fa fa-globe"></i>
        {{'SIDEBAR_TRACKS' | translate}}
      </md-button>
    </a>
  </md-item>
</md-list>
