  <div layout="row">
    <md-icon class="fa fa-user"></md-icon>
    <md-input-container flex>
      <label>{{'EVENT_FORM_NAME' | translate}}</label>
      <input type="text" ng-model="event.summary" min="3" required>
    </md-input-container>
  </div>
  <div layout="row">
    <md-icon class="fa fa-calendar"></md-icon>
    <md-input-container flex>
      <label>{{'EVENT_FORM_START_DATE' | translate}}</label>
      <input type="date" ng-model="dtstart.date"  required>
    </md-input-container>
    <md-input-container flex>
      <label>{{'EVENT_FORM_START_TIME' | translate}}</label>
      <input type="time" ng-model="dtstart.time"  required>
    </md-input-container>
  </div>
  <div layout="row">
    <md-icon class="fa fa-calendar"></md-icon>
    <md-input-container flex>
      <label>{{'EVENT_FORM_END_DATE' | translate}}</label>
      <input type="date" ng-model="dtend.date"  required>
    </md-input-container>
    <md-input-container flex>
      <label>{{'EVENT_FORM_END_TIME' | translate}}</label>
      <input type="time" ng-model="dtend.time"  required>
    </md-input-container>
  </div>
  <div layout="row">
    <md-icon class="fa fa-calendar"></md-icon>
    <md-input-container flex>
      <label>{{'EVENT_FORM_DESCRIPTION' | translate}}</label>
      <input type="text" ng-model="event.description" min="5" required>
    </md-input-container>
  </div>
  <div layout="row">
    <md-icon class="fa fa-envelope-o"></md-icon>
    <md-input-container flex>
      <label>{{'EVENT_FORM_LOCATION' | translate}}</label>
      <input type="text" ng-model="event.location" required min="3">
    </md-input-container>
  </div>
