<md-button class="md-raised" ui-sref="calendar">{{'USER_FORM_BACK' | translate}}</md-button>

<h1>{{'EVENT_FORM_NAME' | translate}} : {{event.summary}}</h1>

<div  layout="column" layout-fill>
  <p>{{'EVENT_FORM_TYPE' | translate}} : {{event.category}}</p>
  <p>{{'EVENT_FORM_DESCRIPTION' | translate}} : {{event.description}}</p>
  <p>{{'EVENT_FORM_START' | translate}} : {{event.dtstart  | date:'dd/MM/yyyy - HH:mm' }}</p>
  <p>{{'EVENT_FORM_END' | translate}} : {{event.dtend  | date:'dd/MM/yyyy - HH:mm' }}</p>
  <p>{{'EVENT_FORM_LOCATION' | translate}} : {{event.location}}</p>
</div>
<div layout="row">
  <md-button class="md-raised" ng-click="showUsersEvent(event._id)">{{'EVENT_LIST_GUEST' | translate}}</md-button>
  <md-button class="md-raised" ng-click="takePartEvent(event._id)">{{'EVENT_TAKE_PART' | translate}}</md-button>
  <md-button class="md-raised" ng-click="maybeEvent(event._id)">{{'EVENT_MAYBE' | translate}}</md-button>
</div>
<div layout="row">
  <md-button ng-click="deleteEvent(event._id)" ng-show="currentUser._id == event.creator" class="md-raised md-accent">{{'EVENT_DELETE' | translate}}</md-button>
  <md-button ui-sref="eventEdit({id:event._id})" ng-show="currentUser._id == event.creator" class="md-raised md-accent">{{'EVENT_EDIT' | translate}}</md-button>
</div>
{{listGuest}}
