<h1>{{'EVENTS_TITLE' | translate}}</h1>

<md-button class="md-accent md-raised" ui-sref="eventAdd">{{'EVENTS_ADD_EVENT' | translate}}</md-button>

<div layout="row" class="table-list">
  <p ng-hide="events.data.length">{{'EVENTS_NO_EVENT' | translate}}</p>

  <table class="responsive-table striped" ng-show="events.data.length">
    <thead>
    <tr>
      <th data-field="name">{{'EVENT_FORM_NAME' | translate}}</th>
      <th data-field="type">{{'EVENT_FORM_TYPE' | translate}}</th>
      <th data-field="date">{{'EVENT_FORM_BEGIN' | translate}}</th>
      <th data-field="desc">{{'EVENT_FORM_DESCRIPTION' | translate}}</th>
      <th data-field="address">{{'EVENT_FORM_ADDRESS' | translate}}</th>
      <th data-field="country">{{'EVENT_FORM_COUNTRY' | translate}}</th>
      <th data-field="actions>"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in events.data">
      <td>{{event.name}}</td>
      <td>{{event.type}}</td>
      <td>{{event.begin}}</td>
      <td>{{event.description}}</td>
      <td>{{event.address}}</td>
      <td>{{event.country}}</td>
      <td class="text-right">
        <a href="#"><md-icon class="fa fa-pencil-square-o" ng-click="editUser(user.oauth._id)"></md-icon></a>
        <a href="#"><md-icon class="fa fa-trash" ng-click="deleteUser(user.oauth._id)"></md-icon></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
