<h1>{{'USERS_ADD_TITLE' | translate}}</h1>

<form  role="form" ng-submit="addUser()">
  <md-button class="md-raised" ui-sref="users">{{'USER_FORM_BACK' | translate}}</md-button>

  <div layout="column">
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'USER_FORM_LNAME' | translate}}</label>
        <input type="text" ng-model="user.lname" required>
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'USER_FORM_FNAME' | translate}}</label>
        <input type="text" ng-model="user.fname" required>
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-envelope-o"></md-icon>
      <md-input-container flex>
        <label>{{'USER_FORM_EMAIL' | translate}}</label>
        <input type="email" ng-model="user.email" required>
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-graduation-cap"></md-icon>
      <md-select placeholder="{{'USER_FORM_ROLE' | translate}}" ng-model="user.role" flex class="input-select" required>
        <md-option value="member">{{'USER_FORM_ROLE_MEMBER' | translate}}</md-option>
        <md-option value="admin">{{'USER_FORM_ROLE_ADMIN' | translate}}</md-option>
      </md-select>
    </div>
  </div>

  <div class="ng-message-notice">{{'USER_FORM_NOTICE_RANDOM_PASSWORD' | translate}}</div>

  <div class="md-actions" layout="row">
    <md-button class="md-raised md-accent" type="submit">{{'USER_FORM_SUBMIT' | translate}}</md-button>
  </div>
</form>
