doctype html
html(data-ng-app='archClient')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/arch-client/dist/arch-client.min.js')
    body
        div(data-arch-client)



