<md-list>
  <md-item class="side-list">
    <a ui-sref="home">
      <md-button class="side-list">
        <md-icon class="fa fa-home"></md-icon>
        {{'SIDEBAR_HOME' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item class="side-list">
    <a ui-sref="users">
      <md-button class="side-list">
        <md-icon class="fa fa-users"></md-icon>
        {{'SIDEBAR_USERS' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item class="side-list">
    <a ui-sref="users">
      <md-button class="side-list">
        <md-icon class="fa fa-calendar"></md-icon>
        {{'SIDEBAR_EVENTS' | translate}}
      </md-button>
    </a>
  </md-item>
  <md-item class="side-list">
    <a ui-sref="users">
      <md-button class="side-list">
        <md-icon class="fa fa-line-chart"></md-icon>
        {{'SIDEBAR_TRACKS' | translate}}
      </md-button>
    </a>
  </md-item>
</md-list>
