<h1>{{'USERS_TITLE' | translate}}</h1>

<md-button ng-show="currentUser.profile.role == 'admin'" class="md-accent md-raised" ui-sref="userAdd">{{'USERS_ADD_USER' | translate}}</md-button>

<div  class="table-list">
  <p ng-hide="users.data.length">{{'USERS_NO_USERS' | translate}}</p>
  <div>
  <table class="" ng-show="users.data.length" datatable="ng" dt-options="dtOptions" dt-columns="dtColumn" dt-column-defs="dtColumnDefs" >
    <thead>
    <tr>
      <th data-field="fname">{{'USERS_TABLE_NOM' | translate}}</th>
      <th data-field="lname">{{'USERS_TABLE_PRENOM' | translate}}</th>
      <th data-field="email">{{'USERS_TABLE_EMAIL' | translate}}</th>
      <th data-field="actions>"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users.data">
      <td>{{user.lname}}</td>
      <td>{{user.fname}}</td>
      <td>{{user.email}}</td>
      <td class="text-right">
        {{archAccountService.isAdmin()}}
        <a ng-show="archAccountService.isAdmin()" href="#"><md-icon class="fa fa-pencil-square-o" ng-click="editUser(user._id)"></md-icon></a>
        <a ng-show="archAccountService.isAdmin()" href="#"><md-icon class="fa fa-trash" ng-hide="user._id == currentUser._id" ng-click="deleteUser(user._id)"></md-icon></a>
      </td>
    </tr>
    </tbody>
  </table>
    </div>
</div>
