<h1>{{'USERS_TITLE' | translate}}</h1>

<md-button ng-show="currentUser.profile.role._is('ADMIN')" class="md-accent md-raised no-margin-w" ui-sref="userAdd">{{'USERS_ADD_USER' | translate}}</md-button>
<md-button class="md-raised" href="mailto:{{mailAll}}">{{'USER_MAIL_TO_ALL' | translate}}</md-button>

<div  class="table-list">
  <p ng-hide="users.length">{{'USERS_NO_USERS' | translate}}</p>
  <div>
  <table class="" ng-show="users.length" datatable="ng" dt-options="dtOptions" dt-columns="dtColumn" dt-column-defs="dtColumnDefs" >
    <thead>
    <tr>
      <th data-field="fname">{{'USERS_TABLE_NOM' | translate}}</th>
      <th data-field="lname">{{'USERS_TABLE_PRENOM' | translate}}</th>
      <th data-field="email">{{'USERS_TABLE_EMAIL' | translate}}</th>
      <th data-field="actions>"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.lname}}</td>
      <td>{{user.fname}}</td>
      <td>{{user.email}}</td>
      <td class="text-right">
        <a href="#" ui-sref="userView({id : user._id})"><md-icon class="fa fa-file-text-o"></md-icon></a>
        <a ng-show="currentUser.profile.role._is('ADMIN')" href="#" ui-sref="userEdit({id :user._id})"><md-icon class="fa fa-pencil-square-o"></md-icon></a>
        <a ng-show="currentUser.profile.role._is('ADMIN')" href="#"><md-icon class="fa fa-trash" ng-hide="user._id == currentUser._id" ng-click="deleteUser(user._id)"></md-icon></a>
      </td>
    </tr>
    </tbody>
  </table>
    </div>
</div>
