<md-dialog>
  <md-content class="sticky-container">
    <div layout="column">
      <md-button class="md-raised md-accent" ng-click="answer('event')">{{'EVENT_TITLE_ADD' | translate}}</md-button>
      <md-button class="md-raised md-accent" ng-click="answer('discovery')">{{'DISCOVERY_TITLE_ADD' | translate}}</md-button>
      <md-button class="md-raised md-accent" ng-click="answer('officialRun')">{{'OFFICIAL_RUN_TITLE_ADD' | translate}}</md-button>
      <md-button class="md-raised md-accent" ng-click="answer('personalTraining')">{{'PERSONAL_TRAINING_TITLE_ADD' | translate}}</md-button>
      <md-button class="md-raised md-accent" ng-click="answer('training')">{{'TRAINING_TITLE_ADD' | translate}}</md-button>
    </div>
  </md-content>
</md-dialog>

