<h1>{{'EVENT_TITLE' | translate}}</h1>

<p ng-hide="events.data.length">{{'EVENT_NO_EVENT' | translate}}</p>

<div layout="row" class="table-list" ng-show="events.length">
  <table class="" datatable="ng" dt-options="dtOptions" dt-columns="dtColumn" dt-column-defs="dtColumnDefs" id="eventsData">
    <thead>
    <tr>
      <th data-field="summary">{{'EVENT_FORM_NAME' | translate}}</th>
      <th data-field="dtstart">{{'EVENT_FORM_START_DATE' | translate}}</th>
      <th data-field="dtend">{{'EVENT_FORM_END_DATE' | translate}}</th>
      <th data-field="location">{{'EVENT_FORM_LOCATION' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in events">
      <td>{{event.summary }}</td>
      <td>{{event.dtstart  | date:"dd/MM/yyyy HH:mm"}}</td>
      <td>{{event.dtend  | date:"dd/MM/yyyy MM:mm"}}
      <td>{{event.location}}</td>
    </tr>
    </tbody>
  </table>
</div>
